@import "../../vars";

.overflow-nav__button {
  display: flex;
  align-items: center;

  padding: 0;
  width: $unit * 4;
  height: calc(100% - 1px);
  min-height: $unit * 2;

  position: absolute;
  z-index: 1;
  top: calc(50% - 2px);
  transform: translateY(-50%);

  &__icon {
    width: $unit;
    height: $unit * 2;
    opacity: 0.65;
  }

  &:hover {
    .overflow-nav__button__icon {
      opacity: 1;
    }
  }

  &:active {
    .overflow-nav__button__icon {
      opacity: 1;
    }
  }

  &--next {
    right: 0;
    justify-content: flex-end;
  }

  &--prev {
    left: 0;
    justify-content: flex-start;

    .overflow-nav__button__icon {
      transform: rotate(-180deg);
    }
  }

  &--hidden {
    display: none;
  }
}
