@import "vars";

.overflow-nav {
  position: relative;
  padding-bottom: $scrollbar-height + $scrollbar-margin-top;

  &__content {
    display: flex;
    height: calc(100% - #{$scrollbar-height + $scrollbar-margin-top});

    &--scrollable {
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      @-moz-document url-prefix() {
        overflow: hidden;
      }
    }
  }
}
