$unit: 8px;
$color-background: #151c26;
$color-foreground: #74838c;
$color-active: #bfb7a8;

body {
  background: $color-background;
  color: $color-foreground;
  font-family: sans-serif;
}

.container {
  text-align: center;
  padding: 80px;
}

.title {
  margin-bottom: $unit * 4;
  font-size: $unit * 3;
  font-weight: bold;
  letter-spacing: 1px;
  color: $color-active;
}

.preview {
  width: 100%;
  max-width: $unit * 40;
  margin: 0 auto;
}

.item {
  margin-right: $unit * 2;

  color: inherit;
  user-select: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  border: 0;

  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  &--last {
    margin-right: 0;
  }

  &--active,
  &:hover {
    color: $color-active;
  }
}
