$nav-height: 2rem;
$nav-control-width: $nav-height;
$nav-control-height: $nav-height;

$color-background: #151c26;
$color-foreground: #74838c;
$color-active: #bfb7a8;

body {
  background: $color-background;
  color: $color-foreground;
  font-family: sans-serif;
}

main {
  text-align: center;
  padding: 2rem;
}

h1 {
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: $color-active;
}

.nav {
  position: relative;
  width: 100%;
  height: $nav-height;
  max-width: 20rem;
  margin: 0 auto;
  padding: 0 $nav-control-width * 0.25;
}

.nav-list-item {
  margin-right: 0.5rem;

  button {
    user-select: none;
    cursor: pointer;
    appearance: none;

    border: 0;

    height: $nav-height;
    padding: 0.5rem;

    color: inherit;
    background: transparent;

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active,
  &:hover {
    color: $color-active;
  }
}

.nav-control {
  position: absolute;
  z-index: 1;
  top: 0;

  display: flex;
  align-items: center;

  padding: 0;
  width: $nav-control-width;
  height: $nav-control-height;

  color: inherit;
  user-select: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 0;

  &:focus {
    outline: 0;
  }

  &.prev {
    left: 0;
    justify-content: flex-start;
    background: linear-gradient(90deg, $color-background, transparent);
  }

  &.next {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(90deg, transparent, $color-background);
  }
}
